.navbar-bike {
  justify-content: space-between;
  background-color: #6498B0;
  color: white;
}

.navbar-bike .navbar-collapse {
  flex-grow: 0;
}

.navbar-bike .navbar-brand img {
  width: 100px;
  border-radius: 55%;
  border: 1px solid white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}
