<h1>My Profile</h1>
<h2>My Vehicles</h2>
<% @vehicles.each do |vehicle| %>
  <p><%= vehicle.model %></p>
  <p>image</p>
  <p>description</p>
  <p>price</p>
  <p>----------------------</p>
<% end %>

<%= link_to "add a new vehicle",  new_vehicle_path, class: "btn btn-ghost"%>
<p>//////////////////////////////////////</p>
<h2>Manage my ads</h2>
<% @bookings.each do |booking| %>
  <p><%= booking.vehicle.model %></p>
  <p><%= booking.vehicle.category %></p>
  <p>--------------------------------</p>
<% end %>


