<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3775036/pexels-photo-3775036.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
  <div class="container">
 <h1><strong>Rent My Ride</strong></h1>
  <p>Find your dream ride wherever you are...<br>
  Join a community of like-minded individuals...<br>
  Never stop exploring...</p>
  <%= link_to 'Find a vehicle!', 'vehicles', class: "btn btn-primary" %>
  </div>
</div>
