<div class="container u-no-padding">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1592222491987-aebdb920e1a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
   <h1><strong>Rent My Ride</strong></h1>
    <p>Find your dream ride wherever you are...<br>
    Join a community of like-minded individuals...<br>
    Never stop exploring...</p>
    <%= link_to 'Find a vehicle', 'vehicles', class: "btn btn-primary" %>
    <%= link_to 'List a vehicle', new_vehicle_path, class: "btn btn-primary" %>
    </div>
</div>

