<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.freepik.com/free-vector/people-city-transport-crowded-urban-transportation-electric-scooter-vehicle-movement-bike-roller-cars-skate-cartoon_80590-7469.jpg">
  <div class="container">
 <h1><strong>Rent-My-Ride</strong></h1>
  <p>Find your dream ride wherever you are...<br>
  Join a community of like-minded individuals...<br>
  Never stop exploring...</p>
  </div>
</div>
