<div class="navbar navbar-expand-sm navbar-light navbar-bike">
  <a class="navbar-brand" href="#">
    <img src="https://static.dribbble.com/users/27903/screenshots/4207049/bike_1x.png" />
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
  </div>
</div>

