<h1>Welcome to Find My Ride!</h1>
<!--<p>Find me in app/views/pages/home.html.erb</p>-->

<!--<% if user_signed_in? %>
  <%= current_user.email %>
<% end %>-->

<%= link_to 'Find a vehicle!', 'vehicles', class: "btn btn-primary" %>
