.dashboard {
    width: 960px;
    margin: 0 auto;
}

.form-control {
    width: 100%;
}

.page-container {
    padding: 0 32px;
}

.vehicle-form {
    $this: &;
    max-width: 960px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.5);
    margin: 32px auto;
    padding: 32px;

    &__title {

    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__input-container {

    }

    &__label {

    }

    &__input {

    }

    &__button {
        display: block;
        width: fit-content;
        padding: 10px;
        // margin-top: 30px;
        background-color: rgb(22, 128, 251);
        color: white;
        text-align: center;
        margin-bottom: 10px;
        text-decoration: none!important;

        &:hover {
            color: black;
        }

        &--submit {
            background: rgb(164, 255, 214);
            margin: 0 auto;
            color: rgb(100, 153, 175);
            

            &:hover {
                color: black;
            }
        }
    }
}