.fas {
    color:white;
}

.booking-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.booking-card {
    $this: &;
    display: flex;
    align-items: center;
    // overflow: hidden;
    background: white;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 0 auto 16px;
    // width: 90%;
    justify-content: center;

    &__container {
        padding: 20px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            left: 0;
            top: -5px;
            bottom: -5px;
            background-color: red;
        }
    }

    &__info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

    }

    &__vehicle-container {
        flex-grow: 1;
    }

    &__destroy {
        position: absolute;
        bottom: -16px;
        right: 16px;
    }

    &__review-card {
        position: absolute;
        bottom: -16px;
        left: 10px;
    }

    &__ribbon {
        display: none;
    }

    &__id-title {
        text-align: center;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        margin: 0;
    }

    &__header {
        display: flex;
        min-height: 50px;
        margin: 16px auto 16px;
        // width: 90%;
    }

    &__review-card {
        background-color: rgb(22, 128, 251);
        padding: 0px 10px;
        border-radius: 4px 4px 4px 0px;

        &:hover {
            background-color: darken(#1680fb, 10%);
            color: #fff;
        }
    }
    
    &__review-comment {
        color: white;
        text-decoration: none!important;
        display: inline-block;
    }

    &--promo {

        #{$this} {

            &__ribbon {
                display: block;
                width: 150px;
                height: 150px;
                overflow: hidden;
                position: absolute;
                top: -10px;
                left: -10px;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    border: 5px solid darken(red, 10%);
                    border-top-color: transparent;
                    border-left-color: transparent;
                }
    
                &::before {
                    top: 0;
                    right: 0;
                }
                &::after {
                    bottom: 0;
                    left: 0;
                }
            }

            &__ribbon-text {
                font-size: 16px;
                font-weight: bold;
                position: absolute;
                width: 225px;
                padding: 4px 0;
                background-color: red;
                box-shadow: 0 5px 10px rgba(black, .4);
                color: white;
                display: flex;
                justify-content: center;
                right: -28px;
                top: 46px;
                transform: rotate(-45deg);
            }
        }
    }
    

}

